<div class="p-5">
    <h3 class="mb-5">Withdraw</h3>
    <form class="flex flex-col lg:flex-wrap gap-1" [formGroup]="withdrawForm" autocomplete="off"
        (keydown.enter)="$event.preventDefault()">
        <div>
            <mat-form-field floatLabel="auto" class="w-84">
                <mat-label>From Account</mat-label>
                <select formControlName="fromAccountId" id="fromAccountId" matNativeControl required>
                    @for (account of accounts; track account) {
                    <option [value]="account.id">{{account.name}}</option>
                    }
                </select>
            </mat-form-field>
            @if (fromAccountIdHasRequiredError) {
            <mat-error class="mb-6">From account is required</mat-error>
            }
        </div>
        <div>
            <mat-form-field floatLabel="auto" class="w-84">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount" id="amount" required>
            </mat-form-field>
            @if (amountHasRequiredError) {
            <mat-error class="mb-6">Amount is required</mat-error>
            }
        </div>
        <div>
            <button (click)="onWithdrawClick()" mat-button aria-label="Withdraw">
                <mat-icon>save</mat-icon>
                Withdraw
            </button>
        </div>
    </form>
</div>